* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: #F6F6F6;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 100px 500px 100px 200px;
    font-family: "Krona One", sans-serif;
}
.titulo-destaque {
    color: #22D4FD;
}
.git-hub {
    position: relative;
    right: 75px;
    top: 20px;
    display: inline-block;
    padding: 20px 40px;
    background-color: #22D4FD;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: 1s;
}
.insta {
    position: relative;
    left: 350px;
    top: 20px;
    display: inline-block;
    padding: 20px 40px;
    background-color: #22D4FD;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: 1s;
}
.foto-perfil {
    position: relative;
    left: 700px;
    top: -290px;
    width: 300px;
    height: 300px;
    border-radius: 5%;
    border-top: 5px solid #22D4FD;
    border-right: 5px solid #22D4FD;
}